# Excercise 1:  

Identify how many articles in "news_apple_fruit.pkl" (out of 6475) are talking about fruits vs. technology company

In [1]:
import pandas as pd
import json, os, glob
from pandas.io.json import json_normalize

In [2]:
!ls -l /project/msca/kadochnikov/news/*app*

-rwxr-xr-x 1 kadochnikov kadochnikov 10906318 Nov  7 21:10 /project/msca/kadochnikov/news/news_apple_fruit.pkl

In [3]:
news_apple_fruit = pd.read_pickle('/project/msca/kadochnikov/news/news_apple_fruit.pkl')
news_apple_fruit.shape

(6475, 4)

In [4]:
news_apple_fruit[(news_apple_fruit['text'].str.contains('apple'))].head(5)

,crawled,language,text,title
5,2018-11-05T04:57:51.015+02:00,english,"November 4, 2018 Spread the love\nStarting to ...",Apple Cranberry Salad
7,2018-11-05T04:58:36.012+02:00,english,Home Nation First snowfall in November in nine...,First snowfall in November in nine years pushe...
11,2018-11-05T05:02:21.004+02:00,english,more ads by this user Lovely apple green nephr...,Estate Vintage Apple Green Nephrite Jade Marqu...
16,2018-11-05T05:07:11.004+02:00,english,Type: For Sale 390 Good Day! I am selling here...,Chord Mojo & Apple Lightning kit
18,2018-11-05T05:10:46.008+02:00,english,I was trying to buy an X Factor live performan...,Apple Music deleted all my songs.

In [5]:
news_apple_fruit[(news_apple_fruit['text'].str.contains('apple')) & (news_apple_fruit['text'].str.contains('iphone'))].\
head(5)

,crawled,language,text,title
16,2018-11-05T05:07:11.004+02:00,english,Type: For Sale 390 Good Day! I am selling here...,Chord Mojo & Apple Lightning kit
152,2018-11-05T07:04:25.003+02:00,english,maspul\nWhat does the ‘R’ in iPhone XR stand f...,Apple iPhone XR review: The ‘cheapest’ iPhone ...
267,2018-11-05T08:43:43.002+02:00,english,Published New Discard Success! contact 9885347...,Apple Showroom in Hyderabad|Apple Stores in hy...
312,2018-11-05T09:21:05.019+02:00,english,http://www.tabstores.in/apple-iphones.html,http://www.tabstores.in/apple-iphones.html
343,2018-11-05T09:53:34.002+02:00,english,"apple , Business , infographic , ipad , iphone...",Apple Will Not Be Reporting Unit Sales Anymore...

In [6]:
news_apple_fruit[(news_apple_fruit['text'].str.contains('fruit')) & (news_apple_fruit['title'].str.contains('apple'))].\
head(5)

,crawled,language,text,title
7,2018-11-05T04:58:36.012+02:00,english,Home Nation First snowfall in November in nine...,First snowfall in November in nine years pushe...
76,2018-11-05T05:55:51.018+02:00,english,400 tonnes of Vietnamese star apples set off f...,400 tonnes of Vietnamese star apples set off f...
207,2018-11-05T08:06:42.027+02:00,english,Untimely snowfall damages apple crop in Kashmi...,Untimely snowfall damages apple crop in Kashmir
265,2018-11-05T08:43:10.000+02:00,english,SRINAGAR: Apple crop worth crores of rupees ha...,Untimely snowfall damages apple crop | Srinagar
377,2018-11-05T10:26:42.011+02:00,english,"November 5, 2018 apple crumble pie recipe Rust...",Rustle up the right way recipe for apple crisp...